flow.json
[{"id":"28be47d6.ff5ac8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"69c0f5ef.e813dc","type":"ui_gauge","z":"28be47d6.ff5ac8","name":"","group":"74b86d21.d57954","order":2,"width":0,"height":0,"gtype":"gage","title":"Gauge Brightness","label":"units","format":"{{value}}","min":0,"max":"600","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":300,"wires":[]},{"id":"aadf2263.3b44e","type":"mqtt in","z":"28be47d6.ff5ac8","name":"","topic":"nodemcu/ldr","qos":"2","datatype":"auto","broker":"7f2fac59.44fc14","x":210,"y":360,"wires":[["eabeb11e.a9ddf","69c0f5ef.e813dc","365fd277.e8394e"]]},{"id":"95e22859.4215a8","type":"debug","z":"28be47d6.ff5ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":380,"wires":[]},{"id":"eabeb11e.a9ddf","type":"ui_chart","z":"28be47d6.ff5ac8","name":"","group":"74b86d21.d57954","order":3,"width":0,"height":0,"label":"Brightness","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"600","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":490,"y":460,"wires":[[]]},{"id":"169acca9.e3ff03","type":"ui_switch","z":"28be47d6.ff5ac8","name":"","label":"Switch","tooltip":"","group":"74b86d21.d57954","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":210,"y":260,"wires":[["6f51ecbd.874aa4"]]},{"id":"6f51ecbd.874aa4","type":"mqtt out","z":"28be47d6.ff5ac8","name":"nodemcu/led","topic":"nodemcu/led","qos":"","retain":"","broker":"7f2fac59.44fc14","x":530,"y":200,"wires":[]},{"id":"46389b28.6a47a4","type":"ui_toast","z":"28be47d6.ff5ac8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"threshold","x":740,"y":320,"wires":[]},{"id":"365fd277.e8394e","type":"switch","z":"28be47d6.ff5ac8","name":"condition","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"150","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":480,"y":380,"wires":[["95e22859.4215a8","46389b28.6a47a4"]]},{"id":"ee04ecac.9361","type":"mqtt in","z":"28be47d6.ff5ac8","name":"","topic":"nodemcu/dht","qos":"2","datatype":"auto","broker":"7f2fac59.44fc14","x":90,"y":680,"wires":[["882a8bb2.9b5318","d7661793.c5c328"]]},{"id":"ee52c17a.aa06","type":"ui_gauge","z":"28be47d6.ff5ac8","name":"","group":"801cfa8c.c7e118","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"600","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":680,"wires":[]},{"id":"2d452664.a8480a","type":"ui_slider","z":"28be47d6.ff5ac8","name":"","label":"Servo Position","tooltip":"","group":"801cfa8c.c7e118","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"180","step":1,"x":340,"y":560,"wires":[["7f89ac7f.01a3b4"]]},{"id":"7f89ac7f.01a3b4","type":"mqtt out","z":"28be47d6.ff5ac8","name":"nodemcu/servo","topic":"nodemcu/servo","qos":"","retain":"","broker":"7f2fac59.44fc14","x":640,"y":560,"wires":[]},{"id":"bf2696b4.4bd8c8","type":"ui_chart","z":"28be47d6.ff5ac8","name":"","group":"801cfa8c.c7e118","order":3,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":670,"y":780,"wires":[[]]},{"id":"882a8bb2.9b5318","type":"function","z":"28be47d6.ff5ac8","name":"getTemp","func":"\nobj= JSON.parse(msg.payload);\nmsg.payload= obj.temp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":800,"wires":[["bf2696b4.4bd8c8"]]},{"id":"9694c2ab.b4f59","type":"function","z":"28be47d6.ff5ac8","name":"getHumidity","func":"\nmsg.payload= msg.payload.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":680,"wires":[["ee52c17a.aa06"]]},{"id":"d7661793.c5c328","type":"json","z":"28be47d6.ff5ac8","name":"","property":"payload","action":"obj","pretty":false,"x":280,"y":660,"wires":[["9694c2ab.b4f59"]]},{"id":"74b86d21.d57954","type":"ui_group","name":"LDR Data","tab":"bf10da5e.94c998","order":1,"disp":true,"width":"6","collapse":false},{"id":"7f2fac59.44fc14","type":"mqtt-broker","name":"My broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"801cfa8c.c7e118","type":"ui_group","name":"Temprature data","tab":"bf10da5e.94c998","order":3,"disp":true,"width":"6","collapse":false},{"id":"bf10da5e.94c998","type":"ui_tab","name":"Nodemcu","icon":"dashboard","disabled":false,"hidden":false}]